.h1 {
  font-family: var(--font-family-asap);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h1);
}

.hederTextContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
}

.hederTex,
.h2,
.ulLiContainer li,
.footerText {
  font-family: var(--font-family-exo);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-h2);
}

.hederTex {
  font-size: var(--font-size-heder-text);
}

.h2 {
  font-size: var(--font-size-h2);
}

.ulLiContainer li {
  font-size: var(--font-size-li-about);
}

.footerText {
  font-size: var(--font-size-footer-text);
}

.ulLiContainer li {
  position: relative;
}

.ulLiContainer li::before {
  position: absolute;
  content: "";
  background-color: #004e1b;
  left: -10px;
  top: 15px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.footerTextBold {
  font-family: var(--font-family-exo);
  font-size: var(--font-size-h2);
  font-weight: 700;
  line-height: var(--line-height-h2);
  text-align: left;
}

.h2 {
  font-weight: var(--font-weight-extra-bold);
}

.line {
  width: 30px;
  height: 2px;
  margin-top: 10px;
  background: #004e1b;
  box-shadow: 0px 4px 50px 0px #6a583c0d;
}

.ReviewContainer {
  width: 50%;
  height: 100%;
  background: linear-gradient(180deg, #fff9ea 30%, #e7ddc5 88%);
  padding-top: 60px;
  padding-bottom: 90px;
  display: flex;
  padding-left: 5vw;
  padding-right: 5vw;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

@media screen and (max-width: 1024px) {
  .ReviewContainer {
    width: 100%;
  }
}

@media screen and (max-width: 764px) {
  .ReviewContainer {
    padding-top: 30px;
    padding-bottom: 40px;
    min-height: auto;
  }
}

.ReviewContainerHelper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.navigatorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navigatorContainer img {
  width: 37px;
  height: 37px;
}

.dot {
  width: 15px;
  height: 15px;
  background: #004e1b;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.ReviewContainerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center !important;
  gap: 30px;
  margin-bottom: 40px;
}

@media screen and (max-width: 764px) {
  .ReviewContainerText {
    margin-bottom: 30px;
  }
}

.h1Container {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: flex-start;
}

.paginationControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.paginationDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paginationDot:hover {
  background-color: #004e1b;
}

.active {
  background-color: #004e1b; /* Active dot color */
  transform: scale(1.2); /* Slightly enlarge the active dot */
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.imageCircle {
  content: "";
  background: white;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  border: 1px solid #bcbcbc;
  cursor: pointer;
}

.imgArrow {
  max-width: 11px;
  user-select: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 0.3s ease-in-out;
}

.readMore {
  color: #004e1b;
  cursor: pointer;
  text-decoration: underline;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 40px;
}

.modalContent {
  background: white;
  padding: 20px;
  font-family: asap;
  font-size: 18px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn {
  color: #222222;
  font-family: asap;
  font-size: 16px;
  font-weight: 600;
  line-height: 18.34px;
  text-align: left;
  background-color: #d4b265;
  box-shadow: 0px 4px 10px 0px #0000000d;
  border: none;
  padding: 10px 20px;
  width: min-content;
}
