.container {
  background: linear-gradient(180deg, #004e1b -60.87%, #267331 100%);
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

.imageContainer {
  display: flex;
  align-items: center;
}

.innerContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 152px;
  min-width: 112px; /* Equivalent to w-[152px] and min-w-28 */
}

@media screen and (max-width: 1000px) {
  .logo {
    width: 120px;
    min-width: 112px; /* Equivalent to w-[152px] and min-w-28 */
  }
}

.navMenu {
  display: none;
}

.navMenu ul li {
  font-size: var(--font-size-nav);
  color: white;
}

.active {
  color: #D4B265 !important;
  font-weight: 600;
  text-decoration: underline !important;
}

.activeLanguage {
 font-weight: 600;
 text-decoration: underline;
}

.navMenuLarge {
  display: flex;
  gap: 1rem; /* Equivalent to gap-3 */
  color: white;
  align-items: center;
}

.languageMenu {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: white;
  font-size: var(--font-size-nav);
}

@media (min-width: 1100px) {
  /* lg breakpoint for larger screens */
  .navMenu {
    display: block;
    display: flex;
    align-items: center;
  }
}


.hambi {
  display: none;
}

@media (max-width: 1100px) {
  .languageMenu {
   display: none;
  }
.hambi {
  display: block;
}
}
.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100dvh + 40px);
  background: linear-gradient(180deg, #004E1B -60.87%, #267331 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-top: 120px;
  font-family: asap;
}

.mobileMenuHeader {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}

.helper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobileMenuLogo {
  width: 120px;
}

.mobileMenuCloseIcon {
  width: 40px;
  cursor: pointer;
}

.mobileMenuList {
  list-style: none;
  width: 100% ;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.mobileMenuList li {
  font-size: 18px; /* Adjust size as needed */
}

.mobileMenuList li a {
  color: white;
  text-decoration: none;
}

.mobileMenuList li:hover a {
  text-decoration: underline;
}

.mobileLanguageMenu {
  width: 100%;
  display: flex;
  gap: 20px;
  font-weight: 400;
  color: white;


}

.facebook {
  width: 25px;
  height: 25px;
}